@use '../variaveis';

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;

    &--primary {
        color: variaveis.$textColor;
        background-color: variaveis.$purple;
        border-radius: 8px;
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
        text-align: center;
    }

    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
    }
}